<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
    android:label="digimon_pendulum"
    android:name="${applicationName}"
    android:icon="@mipmap/ic_launcher">
    
    <activity
        android:name=".MainActivity"
        ...>
        ...
    </activity>

    <!-- ここに追加 -->
    <receiver 
        android:name="es.antonborri.home_widget.HomeWidgetProvider"
        android:exported="true">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data 
            android:name="android.appwidget.provider"
            android:resource="@xml/home_widget" />
    </receiver>

    <receiver 
        android:name="es.antonborri.home_widget.HomeWidgetBackgroundReceiver"
        android:exported="true">
        <intent-filter>
            <action android:name="es.antonborri.home_widget.action.BACKGROUND" />
        </intent-filter>
    </receiver>

</application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
